


}
#buttons{
/*   top: 0%; */
  height: 30px;
  z-index:1;
  margin-top:2px;
}
.actions .button {
  cursor: pointer;
  background: #fff;
  height: 40px;
  width: 130px;
  border-radius: 30px;
  margin: 10px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 40%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* .content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  
} */


.controls {
  position: absolute;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  top: 0;
}

.controls p {
  font-family: monospace;
  color: white;
}


.actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:2%;
    left:2%;
  }

  .content {
    padding: 0 66px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    
  }
  
  #cart{
    min-width:max-content;
  }

  #trow{
    min-width: max-content;
  }







